<a href="https://colab.research.google.com/github/stevegabriel1/afl_elo_ratings/blob/main/basic_version.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### AFL 2021 season: 18 teams start with 1500 points

Method:

1. Start with 1500 points for all teams
2. The pre-season/starting E value (or win probability) equals 0.5 for all teams
3. After Round 1 results, re-rate each team with using the 'new rating' formula: New Rating = old rating + K(1 - win prob) if they won,or New Rating = old rating + K(0 - win prob) if they lost ::note that K = 20
4. For the 2nd round, matchups decide the new win probabilities which then provide predictions for each game. Use the win probability formula: the inverse of 1 + {10 to the power of [(opposing team rating - team rating divided) by 400]}
5. Repeat

In [1]:
import pandas as pd

In [2]:
team = ['ADL','BRI','CAR','COL','ESS','FRE','GEE','GLD','GWS','HAW','MEL','NME','PAD','RIC','STK','SYD','WBD','WCE']
rframe = pd.DataFrame(team)
rframe.head()

     0
0  ADL
1  BRI
2  CAR
3  COL
4  ESS

In [4]:
rframe['win_prob_w1'] = 0.5
rframe['rating_w_zero'] = 1500
rframe

      0  win_prob_w1  rating_w_zero
0   ADL          0.5           1500
1   BRI          0.5           1500
2   CAR          0.5           1500
3   COL          0.5           1500
4   ESS          0.5           1500
5   FRE          0.5           1500
6   GEE          0.5           1500
7   GLD          0.5           1500
8   GWS          0.5           1500
9   HAW          0.5           1500
10  MEL          0.5           1500
11  NME          0.5           1500
12  PAD          0.5           1500
13  RIC          0.5           1500
14  STK          0.5           1500
15  SYD          0.5           1500
16  WBD          0.5           1500
17  WCE          0.5           1500

The results of week 1 games will create new ratings (rating_week_1) from which win probabilities for week two contests will be calculated.

In [5]:
# These were the Week 1 results in the order of teams above:
rframe['result_w1'] = [1,0,0,0,0,0,0,0,0,1,1,0,1,1,1,1,1,1]
rframe.head(10)

     0  win_prob_w1  rating_w_zero  result_w1
0  ADL          0.5           1500          1
1  BRI          0.5           1500          0
2  CAR          0.5           1500          0
3  COL          0.5           1500          0
4  ESS          0.5           1500          0
5  FRE          0.5           1500          0
6  GEE          0.5           1500          0
7  GLD          0.5           1500          0
8  GWS          0.5           1500          0
9  HAW          0.5           1500          1

Calculation of the new ratings usus this formula:  
df['new_rating'] = df['rate'] + (20*(df['res'] - df['win_prob']))

In [8]:
rframe['rating_w_1'] = rframe['rating_w_zero'] + (20*(rframe['result_w1'] - rframe['win_prob_w1']))
rframe

      0  win_prob_w1  rating_w_zero  result_w1  rating_w_1
0   ADL          0.5           1500          1      1510.0
1   BRI          0.5           1500          0      1490.0
2   CAR          0.5           1500          0      1490.0
3   COL          0.5           1500          0      1490.0
4   ESS          0.5           1500          0      1490.0
5   FRE          0.5           1500          0      1490.0
6   GEE          0.5           1500          0      1490.0
7   GLD          0.5           1500          0      1490.0
8   GWS          0.5           1500          0      1490.0
9   HAW          0.5           1500          1      1510.0
10  MEL          0.5           1500          1      1510.0
11  NME          0.5           1500          0      1490.0
12  PAD          0.5           1500          1      1510.0
13  RIC          0.5           1500          1      1510.0
14  STK          0.5           1500          1      1510.0
15  SYD          0.5           1500          1      1510.0
16  WBD          0.5           1500          1      1510.0
17  WCE          0.5           1500          1      1510.0