<a href="https://colab.research.google.com/github/stevegabriel1/afl_elo_ratings/blob/main/dev_v1_2021_afl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### AFL 2021 season: 18 teams start with 1500 points

In [1]:
import pandas as pd

In [2]:
team = ['ADL','BRI','CAR','COL','ESS','FRE','GEE','GLD','GWS','HAW','MEL','NME','PAD','RIC','STK','SYD','WBD','WCE']
rframe = pd.DataFrame(team)
rframe.head()

     0
0  ADL
1  BRI
2  CAR
3  COL
4  ESS

In [3]:
rframe['win_prob_w1'] = 0.5
rframe['rating_w_zero'] = 1500
rframe.head()

     0  win_prob_w1  rating_w_zero
0  ADL          0.5           1500
1  BRI          0.5           1500
2  CAR          0.5           1500
3  COL          0.5           1500
4  ESS          0.5           1500