### ELO dev

**AFLW 2021**

Method:
    
    1. Start with 1500 points for all teams
    2. The pre-season/starting E value (or win probability) equals 0.5 for all teams
    3. After Round 1 results, re-rate each team with using the 'new rating' formula: New Rating = old rating + K(1 - win prob) if they won,or New Rating = old rating + K(0 - win prob) if they lost ::note that K = 20
    4. For the 2nd round, matchups decide the new win probabilities which then provide predictions for each game. Use the win probability formula: the inverse of 1 + {10 to the power of [(opposing team rating - team rating divided) by 400]}
    5. Repeat

**Coding the ELO ratings**

To program, this could be done per matchup, where each team has a pre-game rating, from which win probabilities are calculated (refer 4 above)

Then, after the result is known, new team ratings are determined using the three required inputs - refer 3 above

In [1]:
import pandas as pd

In [ ]:
#def new_rate(rate, res, win_prob):
    #nr = rate + 20*(res - win_prob)
    #return nr

In [ ]:
#new_rate(1500, 1, 0.5)

In [20]:
team = ['CAR','COL','ESS','WCE']
rate = [1500, 1500, 1500, 1500]
win_prob = [0.4, 0.6, 0.55, 0.45]
res = [1,0,1,0]

In [21]:
df = pd.DataFrame(list(zip(team,rate, win_prob, res)),
               columns =['team','rate', 'win_prob', 'res'])

*Where a dataframe 'current' already exists with rating and win_prob values*

In [22]:
def new_rate(df):
    if df['res'] == 1:
        df['new_rating'] = df['rate'] + (20*(1 - df['win_prob']))
    elif df['res'] != 1:
        df['new_rating'] = df['rate'] + (20*(0 - df['win_prob']))
    return df

In [23]:
df

  team  rate  win_prob  res
0  CAR  1500      0.40    1
1  COL  1500      0.60    0
2  ESS  1500      0.55    1
3  WCE  1500      0.45    0

In [ ]:
# current['new_rating'] = current['column name'].apply(lambda x: 'value if condition is met' if x condition else 'value if condition is not met')

In [24]:
df['new_rating'] = df['rate'] + (20*(df['res'] - df['win_prob']))

In [25]:
df

  team  rate  win_prob  res  new_rating
0  CAR  1500      0.40    1      1512.0
1  COL  1500      0.60    0      1488.0
2  ESS  1500      0.55    1      1509.0
3  WCE  1500      0.45    0      1491.0

In [ ]:
### For the next matchups, calculate win probs:
### For example winners play each other, losers play eah other: CAR v ESS;  COL v WCE